
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<ul>
    <li>
        <h3>Tornike</h3>
        <h4>user=>1</h4>
    </li>
    <li>
        <h3>Nini</h3>
        <h4>user=>2</h4>
    </li>
    <li>
        <h3>Levana</h3>
        <h4>user=>3</h4>
    </li>
</ul>